<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <title>Requerimento Online</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/add_servidor.css">
</head>

<body>
  <div class="cadastro">
    <header class="cadastro_header">
      <h1 class="titulo">ÁREA DE CADASTRO</h1>
    </header>
    <form class="form" action="/servidor/salvar" method="post">
      <div>
        <input type="text" placeholder="Nome Completo" class="form_input" name="nome_servidor" required>
      </div>
      <div>
        <input type="text" placeholder="Siape" class="form_input" name="siape_servidor" required>
      </div>
      <div>
        <input type="email" placeholder="E-mail" class="form_input" name="email_servidor" required>
      </div>
      <div>
        <input type="password" placeholder="Senha" class="form_input" name="senha_servidor" required>
      </div>
      <div>
        <input type="password" placeholder="Confirme sua senha" class="form_input" name="csenha_servidor" required>
      </div>
      <button class="btn" type="submit">CADASTRAR</button>
    </form>
  </div>
  <div class="logo">
    <a href="/servidor"><img src="img/logo-ifms.png" alt='some text' width=50px height=66px></a>
  </div>
</body>

</html>